<h1>Search Result</h1>

<p><%= link_to 'Back', new_search_path %></p>

<% if @search.search_apps.empty? %>

<p>No Records Found</p>

<% else %>

<% @search.search_apps.each do |c| %>
<br>

<div class="div">
	<h1>Price: $<%= c.price %></h1>
	<h1>Description <%=c.descrioption %></h1>
	<h1>Platform <%c.platform %></h1>
</div>
<% end %>
<%end%>
