<!-- App-->
<div class="column">
	<div class="app">
		<h1>Facebook</h1>
		<img src="<%= asset_path('Facebook_logo_(square).png')%>" alt="Facebook Logo">
		<p>Sodium, atomic number 11, was first isolated by Humphry Davy in 1807. A chemical component of salt, he named it Na in honor of the saltiest region on earth, North America.</p>
	</div>
</div>

<!-- App-->
<div class="column">
	<div class="app">
		<h1>Facebook</h1>
		<img src="<%= asset_path('Facebook_logo_(square).png')%>" alt="Facebook Logo">
		<p>Description</p>
	</div>
</div>

<!-- App-->
<div class="column">
	<div class="app">
		<h1>Facebook</h1>
		<img src="<%= asset_path('Facebook_logo_(square).png')%>" alt="Facebook Logo">
		<p>Description</p>
	</div>
</div>

<!-- App-->
<div class="column">
	<div class="app">
		<h1>Facebook</h1>
		<img src="<%= asset_path('Facebook_logo_(square).png')%>" alt="Facebook Logo">
		<p>Description</p>
	</div>
</div>
