<!-- App-->
<div class="app">
	<h1>Facebook</h1>
	<img src="<%= asset_path('Facebook_logo_(square).png')%>" alt="Facebook Logo">
	<p>Description</p>
</div>

<!-- App-->
<div class="app">
	<h1>Facebook</h1>
	<img src="<%= asset_path('Facebook_logo_(square).png')%>" alt="Facebook Logo">
	<p>Description</p>
</div>
